*{
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*The background */
.container{
    background: linear-gradient(150deg, #E6B9A6, #2F3645);
    min-height: 100vh;
    padding: 200px;
    width: 100%;
}

/*The small box in the middle*/
.todo-app{
    padding: 40px 30px 70px;
    max-width: fit-content;
    background: #FFF5E1;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
}

.todo-app h1{
    color: #002765;
}

.todo-app h1 img{
    width: 50px;
}

.row{
    justify-content: space-between;
    background: hwb(219 69% 26%);
    border-radius: 30px;
    align-items: center;
    display: flex;
}

/*The input row */
input{
    background: transparent;
    color: rgb(75, 75, 72);
    padding-right: 20%;
    margin-left: 20px;
    outline: none;
    border: none;
}

/*The add button */
button{
    color: hwb(55 91% 4%);
    background: #C80036;
    border-radius: 30px;
    padding: 20px 50px;
    cursor: pointer;
    outline: none;
    border: none;
}

ul li{
    padding: 15px 12px 12px 50px;
    position: relative;
    user-select: none;
    list-style: none;
    font-size: 17px;
    cursor: pointer;
}

ul li::before{
    background-image: url(images/unchecked.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    opacity: 0.5;
    height: 28px;
    content: '';
    width: 28px;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #ECCEAE;
}